*.lo
*.o
*.a
Makefile
autom4te.cache
stamp-h1
.dirstamp
.deps/
.libs/
/config.log
/config.status
/libtool

## binary
/enju-src/enju
/enju-src/enju-morph
/enju2ptb/convert
/enju2ptb/src/GluedTreeConv
/enju2ptb/src/extractTreePair
/enju2ptb/src/markNpb2
/enju2ptb/src/raiseComma
/mayz-src/amisfilter
/mayz-src/forestmaker
/mayz-src/lex2html
/mayz-src/lexextract
/mayz-src/lexmerge
/mayz-src/lexrefine
/mayz-src/super
/mayz-src/treetrans
/mayz-src/unimaker
/mayz-src/up
/mogura-src/cfg_compile
/mogura-src/extract_event
/mogura-src/mogura
/mogura-src/pack_cfg_file
/mogura-src/remove_useless_symbols
/mogura-src/train
