*~
*.lo
*.o
Makefile
autom4te.cache
/config.log
/config.status
/include/liblilfes/config_liblilfes.h
/include/liblilfes/stamp-file
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
stamp-h1
.deps/
.libs/
