body {
  color: black;
  background-color: lightyellow;
}

h1 {
  font: bold 300% helvetica;
  color: black;
  border-width: 6pt;
  border-style: groove;
  padding: 10pt 10pt 10pt 10pt;
}

h2 {
  /* font: bold 150% helvetica; */
  font-weight: bold;
  font-size: 150%;
  color: black;
  border-width: 0pt 0pt 1pt 5pt;
  border-style: solid;
  padding: 0pt 0pt 5pt 5pt;
}

li {
  font-weight: bold;
  font-size: 120%;
  color: black;
}

