body {
  color: black;
  background-color: #ccffff;
}

h1 {
  font: bold 200% helvetica;
  color: black;
  border-width: 5pt;
  border-style: groove;
  padding: 10pt 10pt 10pt 10pt;
}

h2 {
  /* font: bold 150% helvetica; */
  font-weight: bold;
  font-size: 150%;
  color: black;
  border-width: 0pt 0pt 1pt 5pt;
  border-style: solid;
  padding: 0pt 0pt 5pt 5pt;
}

table {
  background-color: lightgreen;
}

